* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image: url("image/indiagate.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.clock {
  font-family: monospace;
  font-weight: bold;
  color: beige;
  font-size: 4rem;
}
